<div class="banner-new-cocktail" style="background-image: url(https://images.pexels.com/photos/316891/pexels-photo-316891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <h1>WHAT'S YOUR COCKTAIL? </h1>
</div>

<div class="container">
  <div class="row">
    <div class="container-yellow" class="card-trip col-md-12 col-lg-5 m-3">
      <h2>CHOSE YOUR <i class="highlighted-orange highlighted"> COCKTAIL</i> 🍸</h2>
      <div>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.submit 'ADD TO MY LIST', class: "btn btn-form" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="div-button" >
    <%= link_to "GO BACK 👈", cocktails_path, class: "btn btn-treehouse"%>
  </div>
</div>
