<h1><%= @cocktail.name.capitalize %> recipe</h1>

<% @cocktail.doses.each do |dose| %>
  <li ><%= dose.description %> -
      <%= Ingredient.find(dose.ingredient_id).name %>
      <%= link_to "Delete", dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" }  %>
    </li>
<% end %>

<%= link_to "add ingredients", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Go back to cocktails", cocktails_path %>

