<div class="banner-new-cocktail" style="background-image: url(https://images.pexels.com/photos/319893/pexels-photo-319893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <h1><%= @cocktail.name.upcase %></h1>
</div>



<div class="container">
  <div class="row">
    <div class="container-yellow">
      <h2>YOUR <i class="highlighted-orange highlighted"> <%= @cocktail.name.upcase %></i> RECIPE 🍹</h2>
      <div class="description">
      <% @cocktail.doses.each do |dose| %>
        <li style="list-style:none; text-decoration: none">⚡️ <%= dose.description.capitalize %> -
          <%= Ingredient.find(dose.ingredient_id).name.capitalize %>
          <%= link_to "❌", dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" }  %>
        </li>
      <div class="description" style="display: flex;">
        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <% end %>
    <%= link_to "ADD AN INGREDIENT 🍉", new_cocktail_dose_path(@cocktail), class: "btn btn-form" %>
      </div>
    </div>
  </div>
  <section class="portfolio-experiment">
    <a href="/">
      <span class="text">GO BACK</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </section>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i>
  </div>
</div>


