<div class="banner-new-cocktail" style="background-image: url(https://images.pexels.com/photos/1435735/pexels-photo-1435735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <h1>CHOSE YOUR INGREDIENTS</h1>
</div>

<div class="container">
  <div class="formulaire">
    <h2>CREATE YOUR <i class="highlighted-orange highlighted"> RECIPE</i> 🍋</h2>
    <div>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
  <div class="div-button">
    <%= link_to "GO BACK 👈", cocktails_path, class: "btn btn-treehouse" %>
  </div>
</div>
