<div class="banner-new-cocktail" style="background-image: url(https://images.pexels.com/photos/1435735/pexels-photo-1435735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <h1>Add an ingredient</h1>
</div>

<div>
  <div>
    <div>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Submit" %>
      <% end %>
      <div>
        <%= link_to "Go back", cocktails_path, class: "btn btn-treehouse" %>
      </div>
    </div>
  </div>
</div>
