<div>
  <h1>Add an ingredient</h1>
  <div>
    <div>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Submit" %>
      <% end %>
      <div>
        <%= link_to "Go back", cocktails_path %>
      </div>
    </div>
  </div>
</div>
